*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}
header{
    width: 100%;
    background-color: rgba(255, 144, 14, 0.1);
    /* padding: 30px 240px 30px 240px; */
    padding: 30px 30px;
}
.container{
    max-width: 1452px;
    width: 100%;
    margin: 0 auto;
}
nav h1:first-child{
    font-size: 3em;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1452px;
    width: 100%;
    margin: 0 auto;

}
header nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.dark1{
    color: #131313;
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;
}
.btn{
        width: 180px;
    height: 64px;
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;

    
}
header nav ul a{
    text-decoration: none;
    color: ;
}
.text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
    padding-top: 102px;
}
.text-box h1,h2{
    font-size: 64px;
    color: #131313;
}
.text-box p{
    width: 868px;
    margin: 0 auto;
}
.text-box button{
    padding: 20px;
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
}
.image{
    padding-top: 50px;
}
.main-container{
    padding-top: 85px;
    padding-bottom: 130px;
}
.fearures-sec{
    display: flex;
    align-items: center;
    gap: 73px;
}
.images{
    max-width: 708px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2,1fr);
}
.images img{
    /* max-width: 342px; */
    /* width: 100%; */
}
.fearures-text{
    max-width: 567px;
    width: 100%;
}
.fearures-text h1{
    font-size: 2,5em;

}
.fearures-text h1 span:first-child{
    color: #131313;
}
.fearures-text h1 span:last-child{
    color: #FF900E;
}
.fearures-text p{
    margin-top: 24px;
    margin-bottom: 30px;
    line-height:24px ;
}
@media screen and (max-width:576px){
    header{
        padding-left: 3px;
        padding-right: 3px;
    }
    nav{
        flex-direction: column;
        gap: 30px;
    }
    .text-box p {
    max-width: 95%;

}
.text-box{
    padding-top: 20px;
}
.text-box h1,h2{
    font-size: 30px;
}

.main-container {
    padding-top: 55px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
}
.fearures-sec{
    flex-direction: column;
}
.images{
    width: 100%;
    grid-template-columns: repeat(1,1fr);
}
.images img{
    width: 100%;
    margin: 0 auto;
}
}